body{
    background-color: #FCF7F4;
    margin-left: 44px;
    margin-top: 40px;
}
ul{
    list-style-type: none;
}
.flex1{
    display: flexbox;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
}
#nav{
    position: absolute;
    width: 470px;
    height: 192px;
    left: 949px;
    top: 290px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 192px;
    /* identical to box height */
    
    
    color: #050203; 
}

nav > home{
    position: absolute;
width: 381px;
height: 192px;
left: 1038px;
top: 110px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 128px;
line-height: 192px;
/* identical to box height */


color: #050203;
}

#pp{
    width: 390px;
    height: 390px;
}

#text1{
    width: 162px;
    height: 36px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    padding-left: 325px;
}

.logo{
    text-decoration: none;
    height: 24px;
    width: 54px;
    line-height: 24px;
    color: #000;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

}